/* html5doctor.com Reset Stylesheet
/* v1.6.1
/* Last Updated: 2010-09-17
/* Author: Richard Clark - http://richclarkdesign.com
/* Twitter: @rich_clark
/**/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*
	Margin, padding, and border resets
	except for form elements
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
/*
	These are easy to forget
*/
::selection {
  background: red;
  color: white;
}
::-moz-selection {
  background: red;
  color: white;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62);
}
/*
	Style overrides for IE6-8
	http://jonikorpi.com/leaving-old-IE-behind/
*/
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot');
  src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-SemiboldIt-webfont.woff') format('woff'), url('../fonts/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Bold-webfont.eot');
  src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-BoldIt-webfont.eot');
  src: url('../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-BoldIt-webfont.woff') format('woff'), url('../fonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Black-webfont.eot');
  src: url('../fonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Black-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Black-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-BlackIt-webfont.eot');
  src: url('../fonts/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-BlackIt-webfont.woff') format('woff'), url('../fonts/SourceSansPro-BlackIt-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot');
  src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'), url('../fonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot');
  src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'), url('../fonts/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Light-webfont.eot');
  src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-LightIt-webfont.eot');
  src: url('../fonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-LightIt-webfont.woff') format('woff'), url('../fonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular-webfont.eot');
  src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-It-webfont.eot');
  src: url('../fonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-It-webfont.woff') format('woff'), url('../fonts/SourceSansPro-It-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansProSemibold';
  src: url('../fonts/SourceSansPro-Semibold-webfont.eot');
  src: url('../fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Semibold-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
#container {
  padding: 25px 25px;
}
body {
  font-size: 18px;
  line-height: 25px;
  font-family: 'SourceSansPro', sans-serif;
  color: #595959;
  font-weight: 500;
  background: #f7f7f7;
}
p {
  margin: 0 0 25px 0;
}
h1 {
  font-size: 59.4px;
  line-height: 75px;
  letter-spacing: -0.05em;
  margin: 6.25px 0 6.25px 0;
}
h1 a {
  text-decoration: none;
  text-shadow: -1px -1px 1px #ffffff;
}
h2 {
  font-size: 32.4px;
  line-height: 37.5px;
  margin: 25px 0 12.5px 0;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #3a54c4;
}
footer {
  background: #e6e6e6;
  color: #999999;
}
footer .inner {
  display: inline-block;
  margin: 25px 25px;
}
.infotext {
  display: none;
}
.content article {
  display: block;
  margin: 0 0 50px 0;
}
.content article h3 {
  font-size: 36px;
  line-height: 37.5px;
  margin: 0;
}
.content article h3 a {
  text-decoration: none;
}
.content article .meta {
  margin: 0 0 6.25px 0;
}
.content article .meta p {
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  font-weight: 400;
  color: #a6a6a6;
  margin: 0;
}
.content article .meta p.category:after {
  content: "\00a0/\00a0";
}
.content .actionblock {
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  padding: 6.25px 12.5px 4.166666666666667px 12.5px;
  background: #666666;
  -webkit-border-radius: 3.125px;
  -moz-border-radius: 3.125px;
  border-radius: 3.125px;
  margin: 12.5px 0 0 0;
  font-weight: 400;
}
.content .actionblock a {
  color: #ffffff;
  text-decoration: none;
}
.content form label {
  display: block;
  margin: 25px 0;
}
.content form input,
.content form textarea {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-width: 1px;
  border-top-width: 2px;
  border-style: solid;
  border-color: #b3b3b3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.content form input:focus,
.content form textarea:focus {
  border-color: #595959;
}
.content form input[type='submit'] {
  width: 101%;
  padding: 12.5px 25px 8.333333333333334px 25px;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #3a54c4;
  background: #6176d0;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  margin: 0 0 25px 0;
}
.content form input[type='submit']:focus,
.content form input[type='submit']:hover {
  background: #3a54c4;
  border-color: #293b89;
}
.content form textarea[name='content'] {
  height: 150px;
}
p.error,
p.success {
  display: inline-block;
  float: left;
  clear: both;
  width: auto;
  margin: 12.5px 0;
  padding: 8.333333333333334px 8.333333333333334px 6.25px 8.333333333333334px;
  border-width: 1px;
  border-style: solid;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
p.error {
  background: #d54f71;
  border-color: #c32e54;
}
p.success {
  background: #389458;
  border-color: #2a6f42;
}
.one header p {
  color: #b3b3b3;
}
.one nav ul {
  margin: 0 0 50px 0;
}
.one nav ul li {
  margin: 0 0 6.25px 0;
  display: block;
  width: 100%;
  float: none;
}
.one nav ul a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 8.333333333333334px 6.25px 6.25px 6.25px;
  background: #6176d0;
}
.one nav ul a.active {
  background: #233275;
}
.adminmenu {
  margin: 0 0 50px 0;
}
.adminmenu ul {
  list-style: none;
}
.adminmenu ul li {
  margin: 0 0 6.25px 0;
  display: block;
  width: 100%;
  float: none;
}
.adminmenu ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background: #999999;
  padding: 8.333333333333334px 6.25px 6.25px 6.25px;
  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}
.adminmenu ul li a:hover,
.adminmenu ul li a:active {
  background: #666666;
}
@media screen and (min-width: 450px) {
  .one nav ul li {
    display: inline;
    margin: 0 6.25px 6.25px 0;
  }
  .one nav ul a {
    display: inline-block;
    padding: 8.333333333333334px 12.5px 6.25px 12.5px;
    background: #3a54c4;
  }
}
@media screen and (min-width: 900px) {
  .adminmenu {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: #666666;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #e6e6e6;
  }
  .adminmenu ul {
    list-style: none;
    padding: 6.25px 37.5px;
  }
  .adminmenu ul li {
    display: inline;
  }
  .adminmenu ul li a {
    display: inline-block;
    padding: 8.333333333333334px 12.5px 5px 12.5px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
    background: transparent;
  }
  .adminmenu ul li a:hover,
  .adminmenu ul li a:active {
    background: #4d4d4d;
    -webkit-border-radius: 3.125px;
    -moz-border-radius: 3.125px;
    border-radius: 3.125px;
  }
  .infotext {
    display: block;
  }
  #container.admin {
    margin-top: 50px;
  }
  .one,
  .two {
    display: table-cell;
  }
  .one .inner,
  .two .inner {
    margin: 0 25px;
    overflow: hidden;
  }
  #container {
    display: table;
  }
  #container .wrap {
    display: table-row;
  }
  .one {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
  }
  .two {
    width: 30%;
    max-width: 600px;
    min-width: 300px;
  }
  .thr {
    width: auto;
    height: 100%;
    display: table-cell;
  }
  .thr .inner {
    display: block;
    padding: 0 25px;
  }
  .one header {
    margin: 0 0 50px 0;
  }
  .one nav ul li {
    display: block;
    margin: 0 0 6.25px 0;
  }
  .one nav ul a {
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
    color: #ffffff;
    background: #6176d0;
  }
  .one nav ul:hover a {
    background: #3a54c4;
  }
  .one nav ul:hover a:hover,
  .one nav ul:hover a:active {
    background: #233275;
  }
  .two {
    color: #8c8c8c;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
  }
  .two:hover {
    color: #4d4d4d;
  }
  .thr {
    font-size: 23.400000000000002px;
    line-height: 32.5px;
    font-weight: 300;
  }
  .content form input[type='submit'] {
    width: auto;
    float: left;
    margin: 0 25px 0 0;
  }
}
@media screen and (min-width: 1300px) {
  #container {
    width: 1300px;
  }
}
